@page
@model lab12.Pages_Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Money)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Money)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
        @if(Model.Article.ImageName is null){
            <img height="100px" src="~/image/placeholder.jpg"/>
        } else{
            <img src="~/upload/@Model.Article.ImageName"/>
        }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.ArticleId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
